
    <aside class="l-banner">
        <div class="c-banner">
            <ul class="c-banner-list">
                <li class="c-banner-list__item">
                    <a href="https://osomatsusan.com/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image01.jpg" alt="おそ松さん" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="#TODO" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image02.jpg" alt="#TODO" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://wave-anime.com/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image03.jpg" alt="WAVE!!～サーフィンやっぺ!!～" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://www.tv-tokyo.co.jp/anime/prichan/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image04.jpg" alt="キラッとプリ☆チャン" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://zombielandsaga.com/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image05.jpg" alt="ゾンビランドサガリベンジ" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://tendebu.jp/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image06.jpg" alt="天地創造デザイン部" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://fruba.jp/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image07.jpg" alt="フルーツバスケット" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://sakura-taisen-theanimation.com/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image08.jpg" alt="新サクラ大戦 the Stage" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://rungirlsrun.jp/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image09.jpg" alt="Run Girls, Radio!!" width="319" height="109">
                    </a>
                </li>
                <li class="c-banner-list__item">
                    <a href="https://www.anime-japan.jp/" class="c-banner-list__link" target="_blank" rel="noopener">
                        <img src="<%= path %>assets/images/banner-image10.jpg" alt="AnimeJapan 2021" width="319" height="109">
                    </a>
                </li>
            </ul>
            <p class="c-banner-credit">
                <small>
                    ©赤塚不二夫／おそ松さん製作委員会<br>
                    ©むらさきゆきや・講談社／異世界魔王Ω製作委員会<br>
                    ©MAGES.／アニメWAVE!!製作委員会<br>
                    ©T-ARTS / syn Sophia / テレビ東京 / PCH3製作委員会<br>
                    ©ゾンビランドサガ リベンジ製作委員会<br>
                    ©蛇蔵＆鈴木ツタ・たら子・講談社／天地創造デザイン部製作委員会<br>
                    ©高屋奈月・白泉社／フルーツバスケット製作委員会<br>
                    ORIGINAL ©SEGA　©SEGA / エイベックス・ピクチャーズ<br>
                    <br>
                    ©avex pictures inc. All rights reserved.
                </small>
            </p>
        </div>
    </aside>
    <footer class="l-footer">
        <div class="l-footer-icon"><img src="<%= path %>assets/images/icon-avex.svg" alt="avex" width="57" height="42"></div>
        <small class="l-footer-copy">©avex</small>
    </footer>
    </div><!-- .l-wrapper -->
    <script src="<%= path %>assets/js/script.js" async></script>
</body>
</html>